@import url("../../styles.css");

.profile-page{
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
    place-content: center;
}

input {
    border: 2px solid var(--color-secondary-grey);
}

input:focus {
    border: 2px solid var(--color-primary-purple);
}
.login-button:hover {
    color:black;
}