@import url("../styles.css");

.product-item {
    width: 26rem;
    border-color: var(--color-secondary-grey);
}

.product-item:hover {
    border: 1px solid var(--color-primary-grey);
}

.product-button {
    width: 100%;
    border: 2px solid transparent;
}

.product-button:hover {
    border: 2px solid var(--color-primary-blue);
}

#button-wishlist { 
    z-index: var(--max-z-index);
}

.range-slider {
    -webkit-appearance: none;
    height: 8px;
    width: 150px;
    background: var(--color-secondary-grey);
    transition: .2s;
}

.range-slider::-webkit-slider-thumb {
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border: none;
    background: url("./star.png");
}

.range-slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    background: url("./star.png");
}

@media screen and (max-width: 965px) {
    .product-item {
        width: 100%;
    }
    .product-button {
        width: 50%;
    }
    .product-details {
        flex-direction: column;
        width: 100%;
    }
}